.nav-link {
  font-size: var(--font-small);
  color: var(--title-color);
  font-weight: var(--font-medium);

  &:hover,
  &.active {
    color: var(--primary-color);
  }
  &.disabled {
    color: var(--text-color-disabled);
  }
}

@media screen and (max-width: 768px) {
  .nav-link{
    font-size: var(--h3-size);
  }
}
