<app-header navBrand="Nav Brand">
  <nav-item link="">Home</nav-item>
  <nav-item link="/docs">Documentation</nav-item>
  <nav-item link="" [disabled]="true">Disabled</nav-item>
</app-header>


<section class="section container">
  <h1 class="section-title">Dynamic Forms</h1>
  <div class="d-flex content-center">
    <app-form submitText="Submit">
      <form-input name="text" type="text">
        <form-label>Text Input</form-label>
      </form-input>
      <form-input name="password" type="password">
        <form-label>Password Input</form-label>
      </form-input>
      <form-input name="email" type="email">
        <form-label>Email Input</form-label>
      </form-input>
      <form-input name="number" type="number" [value]="0">
        <form-label>NumberInput</form-label>
      </form-input>
      <radio-input name="radio">
        <form-label>Radio Input</form-label>
        <radio-option value="option1"> Option 1 </radio-option>
        <radio-option value="option2" [selected]="true">
          Option 2
        </radio-option>
        <radio-option value="option3"> Option 3 </radio-option>
      </radio-input>
      <form-textarea name="textarea">
        <form-label>Textarea</form-label>
      </form-textarea>
      <form-select [multiple]="true" [clearable]="true">
        <form-label>Select</form-label>
      </form-select>
    </app-form>
  </div>
</section>

<!-- <app-footer [footer]="footer"></app-footer> -->
