@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap";
@import "https://unicons.iconscout.com/release/v4.0.0/css/line.css";
@import "./assets/scss/vars.scss";

//========== BASE ==========
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

//========== Layout
@mixin auto-5($amount) {
  .m {
    &-#{$amount} {
      margin: #{$amount}rem !important;
    }
    &-l-#{$amount} {
      margin-left: #{$amount}rem !important;
    }
    &-r-#{$amount} {
      margin-right: #{$amount}rem !important;
    }
    &-b-#{$amount} {
      margin-bottom: #{$amount}rem !important;
    }
    &-t-#{$amount} {
      margin-top: #{$amount}rem !important;
    }
  }
  .p {
    &-#{$amount} {
      padding: #{$amount}rem !important;
    }
    &-l-#{$amount} {
      padding-left: #{$amount}rem !important;
    }
    &-r-#{$amount} {
      padding-right: #{$amount}rem !important;
    }
    &-b-#{$amount} {
      padding-bottom: #{$amount}rem !important;
    }
    &-t-#{$amount} {
      padding-top: #{$amount}rem !important;
    }
  }
  .b {
    &-#{$amount} {
      border: solid #{$amount}px var(--border-color) !important;
    }
    &-t-#{$amount} {
      border-top: solid #{$amount}px var(--border-color) !important;
    }
    &-l-#{$amount} {
      border-left: solid #{$amount}px var(--border-color) !important;
    }
    &-r-#{$amount} {
      border-right: solid #{$amount}px var(--border-color) !important;
    }
    &-b-#{$amount} {
      border-bottom: solid #{$amount}px var(--border-color) !important;
    }
  }
}
@include auto-5(auto);
@for $i from 0 through 5 {
  @include auto-5($i);
}
@mixin display($display) {
  .d-#{$display} {
    display: #{$display};
    gap: 0.5rem;
  }
}
@include display(flex);
@include display(grid);

// Box (div)
.box {
  padding: 1rem;
  &-rounded {
    border-radius: var(--border-radius);
  }
  &-shadow {
    box-shadow: var(--box-shadow);
  }
}
// Container almost same as bootstrap
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  &-fluid {
    width: 100%;
  }
}
// For different page components
.section {
  padding: 6rem 0.5rem 2rem;
}
// For Admin Panels (sidepanel-main)
.body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 9fr;
}
.main{
  overflow-y: auto;
}

// Alignments
.flex {
  &-dir {
    &-row {
      flex-direction: row;
    }
    &-column {
      flex-direction: column;
    }
  }
  &-wrap {
    flex-wrap: wrap;
  }
  &-noshrink {
    flex-shrink: 0;
  }
  &-nogrow {
    flex-grow: 0;
  }
}
.content {
  &-center {
    justify-content: center;
  }
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-space {
    &-between {
      justify-content: space-between;
    }
    &-around {
      justify-content: space-around;
    }
  }
}
.items {
  &-center {
    align-items: center;
  }
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
}
.text {
  &-center {
    text-align: center !important;
  }
  &-left {
    text-align: left !important;
  }
  &-right {
    text-align: right !important;
  }
}

// Grid Options
@mixin grid-col-row($value, $span) {
  .row-#{$value} {
    grid-row: #{$value};
  }
  .row-#{$value}-span-#{$span} {
    grid-row: #{$value} / span #{$span};
  }
  .col-#{$value} {
    grid-column: #{$value};
  }
  .col-#{$value}-span-#{$span} {
    grid-column: #{$value} / span #{$span};
  }
}
@for $value from 1 through 12 {
  @for $span from 1 through 12 {
    @include grid-col-row($value, $span);
  }
}

@mixin grid-repeat($value){
  .cols-#{$value} {
    grid-template-columns: repeat($value, 1fr);
  }
}
@for $value from 1 through 12 {
  @include grid-repeat($value);
}

//========== Colors
@mixin color($color) {
  .bg-#{$color} {
    background-color: var(--#{$color}-color) !important;
    &-darker {
      background-color: var(--#{$color}-color-hover) !important;
    }
  }
  .hover-#{$color}:hover {
    background-color: var(--#{$color}-color-hover) !important;
  }
  .text-#{$color} {
    color: var(--#{$color}-color) !important;
  }
  .link-#{$color} {
    color: var(--#{$color}-color);
    &:hover {
      color: var(--#{$color}-color-hover);
    }
  }
  .b-color-#{$color} {
    border-color: var(--#{$color}-color-hover) !important;
  }
  .btn-#{$color} {
    background-color: var(--#{$color}-color) !important;
    &:hover {
      background-color: var(--#{$color}-color-hover) !important;
    }
  }
  .alert-#{$color} {
    color: var(--#{$color}-alert-dark);
    background-color: var(--#{$color}-alert);
    border: 1px solid var(--#{$color}-alert-dark);
  }
}
@include color(primary);
@include color(secondary);
@include color(success);
@include color(danger);
@include color(warning);
@include color(info);
@include color(light);
@include color(dark);

//========== Shadows
.box-shadow {
  box-shadow: var(--box-shadow);
}
.neumorphic {
  background-color: hsla(0, 0%, 100%, 1%);
  box-shadow: var(--neumorphic);
}

//========== Typography
.title {
  width: 100%;
  font-size: var(--font-big);
  text-align: center;
}
.section {
  &-title {
    font-size: var(--h1-size);
    text-align: center;
  }
  &-subtitle {
    display: block;
    font-size: var(--font-size);
    margin-bottom: 4rem;
    text-align: center;
  }
}
.heading {
  font-size: var(--h2-size);
  text-align: center;
}
.subheading {
  font-size: var(--h3-size);
  text-align: center;
}

//========== Components
.btn {
  display: inline-block;
  color: var(--light-color);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-size: var(--font-size);
  font-weight: var(--font-medium);
  border: 0;
  outline: 0;
  cursor: pointer;

  &-light{
    color: var(--dark-color);
  }
  &-block{
    width: 100%;
  }
  &:active {
    box-shadow: var(--box-shadow-inset);
  }

  &-group {
    border-radius: 0.5rem;
    overflow: hidden;
    width: max-content;
    .btn {
      border-radius: 0;
    }
    &:hover {
      box-shadow: var(--box-shadow);
    }
  }

  &-icon {
    font-size: 1.25rem;
    margin-left: 0.5rem;
  }
  &-flex {
    display: inline-flex;
    align-items: center;
  }
}
.alert {
  position: fixed;
  top: 0; right: 0;
  display: block;
  padding: 1rem;
  border-radius: var(--border-radius);
}

// ng-select class changes
.ng-dropdown-panel-items {
  background-color: var(--input-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  .ng-option {
    padding: 1rem;
    &:hover,
    &-selected {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}



//========== Breakpoints
@media screen and (max-width: 1200px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 2rem 0 4rem;
    &-subtitle {
      margin-bottom: 3rem;
    }
  }
  .form {
    width: auto;
    &-inputs {
      grid-template-columns: 1fr;
    }
  }
}
